@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--lightGray);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.containerMain {
    height: 500px;
    width: 315px !important;
    background-color: var(--white);
    margin: 0 auto;
}


.col-one {
    width: auto;
    height: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 0.9375rem;
    color: var(--darkBlue);
}




.col-two {
    width: auto;
    height: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    color: var(--grayishBlue);
    line-height: 1.5;
}